<div>
  <form id="frmRegHoraExtra" name="frmRegHoraExtra">
    <div class="row pt-3 pb-2">
      <div class="col-sm-12">
        <div class="form-group mb-4">
          <label class="label-text mb-0">Documento: </label>
          <input class="form-control-input currency" type="text" name="txtDocumento" id="txtDocumento" formControlName="txtDocumento">
        </div>
      </div>
      <br>
      <div class="col-sm-12">
        <div class="form-group mb-4">
          <label class="label-text mb-2">Nombres y Apellidos: </label>
          <input class="form-control-input currency" type="text" name="txtNombreApellido" id="txtNombreApellido" formControlName="txtNombreApellido">
        </div>
      </div>
      <br>
      <div class="col-sm-12">
        <div class="form-group mb-4">
          <label>Fecha Inicio: </label>
          <input type="date" name="dtFechaInicio" id="dtFechaInicio" formControlName="dtFechaInicio">
        </div>
      </div>
      <br>
      <div class="col-sm-12">
        <div class="form-group mb-4">
          <label>Fecha Fin: </label>
          <input type="date" name="dtFechaFin" id="dtFechaFin" formControlName="dtFechaFin">
        </div>
      </div>
      <br>
      <div class="col-sm-12">
        <div class="form-group mb-4">
          <label>Horario Inicio de Turno: </label>
          <input type="datetime" name="dtInicioTurno" id="dtInicioTurno" formControlName="dtInicioTurno">
        </div>
      </div>
      <br>
      <div class="col-sm-12">
        <div class="form-group mb-4">
          <label>Horario Fin de Turno: </label>
          <input type="datetime" name="dtFinTurno" id="dtFinTurno" formControlName="dtFinTurno">
        </div>
      </div>
      <br>
      <div class="col-sm-12">
        <div class="form-group mb-4">
          <label>Horario Inicio Hora Extra: </label>
          <input type="datetime" name="dtInicioHE" id="dtInicioHE" formControlName="dtInicioHE">
        </div>
      </div>
      <br>
      <div class="col-sm-12">
        <div class="form-group mb-4">
          <label>Horario Fin Hora Extra: </label>
          <input type="datetime" name="dtFinHE" id="dtFinHE" formControlName="dtFinHE">
        </div>
      </div>
      <br>
      <div class="col-sm-12">
        <div class="form-group mb-4">
          <label>Motivo Hora Extra: </label>
          <input type="text" name="txtMotivoHE" id="txtMotivoHE" formControlName="txtMotivoHE">
        </div>
      </div>
      <br>
      <div class="col-sm-12">
        <div class="form-group mb-4">
          <button type="button" class="btn btn-primary" id="btnGuardar" name="btnGuardar">Guardar</button>
        </div>
      </div>

    </div>
  </form>
</div>
